# Pandas

0) Import libraries, check versions

In [36]:
import pandas as pd
import numpy as np

pd.__version__

'1.0.5'

00) Read csv, do primary analysis

In [37]:
df = pd.read_csv("student-mat.csv", sep=";")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3,2,3,3,3,5,5,8,9,9

In [38]:
pd.options.display.max_columns = 33

1) How many variants of mother's job are in the dataset? (min 3 variants)

In [39]:
df["Mjob"].unique().size

5

In [40]:
df['Mjob'].value_counts().size

5

In [41]:
df.describe(include='all')["Mjob"][1]

5

2) Find how many girls have good final grade (not less than 15) and have romantic relationship (number and percentage)

In [42]:
# number
df[(df["G3"] >= 15) & (df["romantic"] == "yes") & (df["sex"] == "F")].shape[0]

9

In [43]:
# percentage
df[(df["G3"] >= 15) & (df["romantic"] == "yes") &  (df["sex"] == "F")].shape[0] / df[df["sex"] == "F"].shape[0] * 100

4.326923076923077

3) Is it better for student's academic performance if his/her parents work at the same job ('other' should be excluded)?

In [44]:
df[(df["Mjob"] == df["Fjob"]) & (df["Fjob"] != "other")]["G3"].median()

12.0

In [45]:
df[(df["Mjob"] != df["Fjob"]) & (df["Fjob"] != "other")]["G3"].median()

10.5

`As we did not clear poor data, it is better to use median metrix instread of mean metrix as it resistants to outliers. `

`Yes, it is better for student's academic performance if his/her parents work at the same job.`

4) Who is more healthy: students with final grade not less than 15 or not?

In [46]:
df[df["G3"] >= 15]["health"].unique() # just to confirm that data doesnt have outliers.

array([5, 1, 3, 4, 2], dtype=int64)

In [47]:
df[df["G3"] >= 15]["health"].mean()

3.3972602739726026

In [48]:
df[df["G3"] < 15]["health"].mean()

3.590062111801242

`We can see that students with higher graduates have more problems with health than others.`

5) Is there a direct link between going out with friends and final grade?

In [49]:
df.groupby(by=['goout']).agg({'G3': lambda x: x.mean()})

              G3
goout
1       9.869565
2      11.194175
3      10.961538
4       9.651163
5       9.037736

`Definitely infrequent walks with friends have a positive effect on the final grade of the student`

6) Is the a connection between Mother's education and desire to take higher education?

In [50]:
df.groupby(by=["Medu", "higher"])['higher'].count()

Medu  higher
0     no          1
      yes         2
1     no          6
      yes        53
2     no          7
      yes        96
3     no          5
      yes        94
4     no          1
      yes       130
Name: higher, dtype: int64

`We should make our conclusions on these students, who don't want to get higher education. As we can see, there is not a strong correlation between a mother's education and desire to take higher education. Lets prove it with .corr `

In [51]:
import warnings
warnings.filterwarnings('ignore')

df_temp = df[["Medu", "higher"]]
df_temp['higher'] = df_temp['higher'].astype('category')
df_temp["bool_higher"] = df_temp["higher"].cat.codes
df_temp["Medu"].corr(df_temp['bool_higher']) # returnе correlation between 2 values

0.16884453374475855

`As stated above, the correlation is not really strong`

7) Could we say that girls have more failures when they have romantic relationship than boys?

In [52]:
df.groupby(by=["sex", "failures"]).agg({'romantic': lambda x: x.value_counts(normalize=True)["yes"]}).unstack()
# df.groupby(by=["sex", "failures"]).agg({'romantic': lambda x: x.value_counts(normalize=True)["no"]})

          romantic
failures         0         1         2         3
sex
F         0.339286  0.521739  0.818182  0.166667
M         0.270833  0.296296  0.333333  0.400000

`It is better to use .unstack() so data looks more understandable.`

`So, as we can see, girls have more failures (1,2) than boys if they have romantic. However, there are some not quite clear moments with boys who fell in love. `

8) Find pairs of jobs with the most and the least average of absences.

In [53]:
df.groupby(["Mjob", "Fjob"]).agg(["max", "min"])["absences"].idxmax()

max    (other, services)
min    (health, teacher)
dtype: object

`As we can see, these sort of job (other, services) has max value in absences, while (health, teacher) has min value. However it is not clear to understand others professions, so lest remove it and check what we will get`

In [54]:
df[(df["Mjob"] != "other") & (df["Fjob"] != "other")].groupby(["Mjob", "Fjob"]).agg(["max", "min"])["absences"].idxmax()

max    (teacher, services)
min      (health, teacher)
dtype: object

`So now it is a little  bit clear`

**!!!OOPPSSS!!!**


`Hah, it is a mistace! I have found just max and min absences, but we need most and the least average of absences so...`

In [55]:
df.groupby(["Mjob", "Fjob"]).agg("mean")["absences"].idxmax()

('other', 'services')

In [56]:
df.groupby(["Mjob", "Fjob"]).agg("mean")["absences"].idxmin()

('at_home', 'at_home')

`As we can see, these sort of job ('other', 'services') has max value in absences, while ('at_home', 'at_home') has min value.`

9) Calulate the average final grade by romantic relationship and availability of Internet access for boys and girls. Who has the biggest rate?

In [57]:
df.groupby(["sex", "romantic", "internet"]).agg('mean')["G3"].idxmax()

('M', 'no', 'yes')

`So, we can make a conclusion that boys without romantic and with internet access have the forest graduation rate`

In [58]:
df.groupby(["sex", "romantic", "internet"]).agg('mean')["G3"]

sex  romantic  internet
F    no        no           9.464286
               yes         10.851485
     yes       no           8.400000
               yes          9.101449
M    no        no           9.681818
               yes         11.392857
     yes       no           9.833333
               yes         10.489362
Name: G3, dtype: float64

`We can see that a big difference between classes, that is why this kind of group (boys without romantic and with internet access) has better graduation rating`

10) Print statistics for free time after school by Mother's and Father's job . Find combination with the biggest average rate. (one of the variants that I would like to see - using describe())

In [59]:
df.groupby(["Mjob", "Fjob"]).agg(["mean"])["freetime"].idxmax()

mean    (teacher, at_home)
dtype: object

In [60]:
df.groupby(["Mjob", "Fjob"]).describe()["freetime"]["mean"].idxmax()

# You will get describe if you want it -_-

('teacher', 'at_home')

`So, the biggest average rate can be obtained by these conbination: ('teacher', 'at_home')`

11) Calculate average rate of educatuin for each job for Father for different family sizes.

In [61]:
df.groupby(["Fjob", "famsize"]).agg("mean")["G3"]

Fjob      famsize
at_home   GT3         9.083333
          LE3        11.750000
health    GT3        11.750000
          LE3        11.333333
other     GT3         9.954248
          LE3        10.765625
services  GT3        10.125000
          LE3        10.741935
teacher   GT3        11.541667
          LE3        14.000000
Name: G3, dtype: float64

12) Calculate average final grade by quality of family relationship and parent's cohabitation status. Which case has the biggest average grade?

In [62]:
df.groupby(["Pstatus", "famrel"]).agg("mean")["G3"]

Pstatus  famrel
A        1         11.500000
         2         11.000000
         3          9.666667
         4         10.529412
         5         12.769231
T        1         10.333333
         2          9.666667
         3         10.080645
         4         10.342697
         5         10.559140
Name: G3, dtype: float64

In [63]:
df.groupby(["Pstatus", "famrel"]).agg("mean")["G3"].idxmax()

('A', 5)

`As it should be supposed, families with excellent relationship (5) have higher G3 value.`

13) What is the smallest age in a dataset? How many students of this age? What is the percentage of students with final grade not less than 15? What is the percentage of boys and girls from this slice?

In [64]:
# What is the smallest age in a dataset?
df["age"].min()

15

In [65]:
# How many students of this age
df[df["age"] == df["age"].min()].shape[0]

82

In [66]:
# What is the percentage of students with final grade not less than 15?
df[df["G3"] >= 15].shape[0] / df.shape[0] * 100

18.48101265822785

In [67]:
# What is the percentage of boys and girls from this slice?
df[df["G3"] >= 15]["sex"].value_counts(normalize=True)

M    0.561644
F    0.438356
Name: sex, dtype: float64

#### Please, write not only numbers but answers also if it's needed :)